/*Header stuff*/
.header {
	background-color: #ffffff;
	border-bottom: 1px solid #ddd;

	font-family: 'Oswald', sans-serif;
	font-weight: 300;

	font-size: 17px;
	padding: 30px;
}

.header .headerTitle {
	margin-left: 100px;
	font-size: 24pt;
}

.header .logo {
	height: 70px;
	width: 70px;
	position: absolute;
	margin-top: -10px;
}

.header .navBar {
	float: right;
	list-style: none;
	margin-top: 5px;
}

.navBar li {
	display: inline;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 1px;
}

.navBar li:hover {
	cursor:pointer;
}

.navBar li.active-navButton {
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	background-color: #f2f2f2;
}
/*End Header stuff*/

/*Blocks for each page*/
.block {
	background-color: #f2f2f2;
	height: 100%;
	width: 100%;
	position: absolute;
}

.homeBlock {
	display: none;
}

.missionBlock {
	display: none;
}

.membersBlock {
	display: none;
}

.networkBlock {
	display: none;
}

.calendarBlock {
	margin: auto;
	width: 70%;
	display: none;
}

.calendarBlock ul {list-style-type: none;}

.newsletterBlock {
	display: none;
}

.activeBlock {
	display: block;
}
/*End Blocks*/

/*Footer*/
.footer {
	position: fixed;
    bottom: 0;
    width: 100%;
    height:60px;
    background-color: #ffffff;
    border-top: 1px solid #ddd;
}
/*End footer*/

/*Tenets*/
.tenets {
	font-family:'Satisfy',sans-seriff;
	margin: auto;
	text-align: center;
	vertical-align: middle;
	padding: 5px;
	width: 40%;
}

.tenet {
	padding: 20px;
	font-style: italic;
	font-size: 14pt;
}
/*End Tenets*/

/*Calendar*/
.calendarMonth {
	display: none;
}

.calendarMonth.active {
	display: block;
}

.month {
    padding: 70px 25px;
    width: 100%;
    background: #1abc9c;
}

.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.month .prev {
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 24pt;
}

.month .prev:hover {
	cursor: pointer;
}

.month .next {
    float: right;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 24pt;
}

.month .next:hover {
	cursor: pointer;
}

.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
	padding: 5px;
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
    margin-left: 3px;
}

.days li .dayNums:hover {
	padding: 5px;
	cursor: pointer;
	background-color: #ddd;
}

.days li .selected {
	color: #777 !important;
	padding: 5px;
	background-color: #ddd !important;
}

.days li .event {
    padding: 5px;
    background: #1abc9c;
    color: white;
}

.days li .today {
	padding: 5px;
    background: #1abc9c;
    color: white;
}

@media screen and (max-width:720px) {
    .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
    .weekdays li, .days li {width: 12.5%;}
    .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
    .weekdays li, .days li {width: 12.2%;}
}

.eventsList {
	list-style: none;
	padding-left: 0;
}

.event {
	background-color: #eee;
	border-top: 1px solid #ddd;
	padding: 10px;
	color: #777;
}

.eventsList li.event {
	display: none;
}

.eventsList li.main {
	display: block;
	padding: 5px;
	font-size: 16pt;
	background-color: #ddd;
	color: #777;
	text-align: center;
}

.eventsList li.activeEvent {
	display: block;
}

/*End Calendar*/